@page "/Combo/Index"
@inject NavigationManager navigationManager
@inject ComboServices comboServices
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="shadow-lg">

        @*Header*@
        <div class="card-header">
            <h5><strong>Registro de Combos</strong></h5>
        </div>

        @*Body*@
        <div class="card-body">
            <div class="row">

                @*Botones e Inputs*@
                <div class="row">
                 

                    @*Crear*@
                    <div class="col 1">
                        <a href="/Prestamo/Create" class="btn btn-primary">
                            <span class="bi bi-plus-square-fill-nav-menu mt-3"></span> Crear
                        </a>

                    </div>

                    @*Tabla*@
                    <table class="table table-bordered mt-4">
                        <thead class="table table-striped">
                            <tr>
                                <th>ComboId</th>
                                <th>Descripci&oacute;n</th>
                                <th>Fecha</th>
                                <th>Precio</th>
                                <th>Observar</th>
                                <th>Editar</th>
                                <th>Eliminar</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var combo in ListaCombo)
                            {
                                <tr>
                                    <td>@combo.CombosId</td>
                                    <td>@combo.Descripcion</td>
                                    <td>@combo.Fecha</td>
                                    <td>@combo.Precio</td>

                                    @*Observar*@
                                    <td class="text-center">
                                        <a href="/Combo/Details/"><button type="button" class=" btn bi bi-eye"></button> </a>
                                    </td>

                                    @*Editar*@
                                    <td class="text-center">
                                    <a href="/Combo/Edit/"><button type="button" class="btn bi bi-pencil"></button></a>
                                    </td>

                                    @*Eliminar*@
                                    <td class="text-center">
                                    <a href="/Combo/Delete/"><button type="button" class="btn bi bi-trash"></button></a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer">
                <p><strong>Cantidad de combos: </strong>@ListaCombo.Count</p>
            </div>
        </div>
    </div>
</div>

@code {
    public Combos Combos { get; set; } = new Combos();
    public List<Combos> ListaCombo { get; set; } = new List<Combos>();

    protected override async Task OnInitializedAsync()
    {
        ListaCombo = await comboServices.Listar(c => c.CombosId > 0);
    }
}